/*first part*/
.navbar{
    display: flex;
    justify-content:flex-start ;
    align-items: flex-start;
    margin:0px;
    padding:20px;
    width:100%
}
.logo{
    display:flex;
    justify-content:flex-start;
    height:50px;
    width:50px;
    
}
.menu-list{
    display:flex;
    justify-content:flex-end;
    position:relative;
    left:500px;
    top:10px;
    margin-left:30px;

}

.menu-list a,.buttons a{
    font-size: 15px;
    text-decoration: none;
    color:rgb(47, 46, 46);
    display:flex;
    margin:10px;
    font-family: verdana, sans-serif;


}
.button-pic{
    height:20px;
    width:20px;
    background-color: white;
    position:relative;
    bottom:0px;
}
.navbar h2{
    font-size:30px;
    position:relative;
    bottom:15px;
    color:rgb(51, 94, 51);

}
.menu{
    display:flex;
    justify-content:flex-end;
}
.buttons .button-pic{
    position: relative;
    top:19px;
}
.buttons{
    display:flex;
    justify-content: flex-end;
    position:relative;
    left:650px;

}
.buttons a{
    position:relative;
    top:10px;
}
body{
    margin:0;
    
}
/*second part*/
.container{
    
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210609/pngtree-3d-render-online-shopping-with-mobile-and-bag-image_727266.jpg");
    margin:0;
    align-items: center;
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
    height:550px;
    padding:50px;
}

.title{
    font-family: Verdana, sans-serif;
    font-size:70px;
    line-height:0px; 
    justify-content: flex-start;
    color:rgb(26, 51, 26);
    position:relative;
    top:80px;
    font-weight: 800;

}
.container p{
    line-height:0px;
    font-family:verdana,sans-serif ;
    font-size:20px;
    color:rgb(26, 51, 26);
    position:relative;
    top:90px;
}
.petit{
    background-color:rgb(26, 51, 26);
    border-radius: 50px;
    position:relative;
    top:130px;
    height:50px;
    width:200px;
}
.petit span{
    font-family: verdana,sans-serif;
    color:white;
    font-size: 15px;

}
/*third part*/
.check{
    padding:50px;
}
.mag-title{
    font-family: verdana,sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 20px
}
.choice{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:10px;
}
.placement{
    
    background-color:rgb(231, 232, 234);
    background-repeat: no-repeat;
    border-radius:10px;
    height:100px;
    width:300px;
    padding:10px;
}
.placement img{
    height:90px;
    width:90px;
    border-radius: 100%;
    display:flex;
    align-items: center;
    justify-content:flex-start;
}
.product{
    font-family: verdana,sans-serif;
    font-size: 20px;
    font-weight: 600;
    position:relative;
    left:100px;
    bottom:100px;
}
.description{
    font-size:15px;
    font-family: verdana,sans-serif;
    font-weight:500;
    position:relative;
    left:100px;
    top:-130px;

}
/*fourth part*/
.magazine{
    padding:50px;
}
.categories{
    display:flex;
    justify-content: space-around;
    gap:0px;
    padding:20px;
    
}
.category{
    border-radius: 50px;
    height:50px;
    width:70px;
    display:flex;
    justify-content: center;
    background-color: white;
    border-color:rgb(128, 127, 127);

}


.category>span{
    position:relative;
    top:15px;
}
/*fith part-*/
.line-1,.line-2{
    display: flex;
    justify-content: space-around;
    gap:10px;
    position: relative;
    left: 20px;
    margin-bottom: 10px;
}

.card{
    height:400px;
    width:350px;
    
    border-radius:5px;
    padding:20px;
    position:relative;
    background-color: whitesmoke;
    border-radius: 5px;;
}




.img-position{

    width:100%;
    height:200px;
    border-radius:5px ;
}
.icon{
    position:absolute;
    height:30px;
    width:30px;
    left:287px;
    top:30px;
    
    border-radius: 100%;
    
}
.the-whole-page{
    display:flex;
    position:relative;}
.logo{
    display:flex;
    justify-content:flex-start;
    height:50px;
    width:50px;
    
}
.title{
    font-family: verdana,sans-serif;
    size:15px;
    font-weight: 500;
}
.hello{
    border-radius: 50px;
    background-color:white;
    height:40px;
    border-color: none;
}
/*fith part*/
.price{
    position:relative;
    left:150px;
}
.intro{
    display:flex;
}
.stars{
    display:flex;
    margin : 1px;
}
.star{
    height:20px;
    width:20px;
}
.stars>p{
    font-size: 9px;
    color: #878383;
}
.eternal {
    background-color:whitesmoke;
    width:100%;
    height:250px;
    display: grid;
    grid-template-columns:  500px repeat(5,1fr);
    grid-template-rows:1fr;
    grid-template-areas:
     Dorra Bissan Mariem Mahdi Mama Papa;
     overflow: hidden;
}  
.line-2{
    height:700px;
} 
.Dorra>p,.Dorra>h2,.Dorra>.logo{
    padding:50px;}
.Dorra>h2{
    position:relative;
    bottom:170px;
    left:60px;
    font-size:30px;
    position:relative;
    
    color:rgb(51, 94, 51);

}
.Dorra>p{
    position: relative;
    bottom:230px;

}
